* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // text-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
}

:root {
  --height: 32px;
}

body {
  color: #fefefe;
  background-color: #333;
  padding: 12px 24px;
}

.content {
  .item-next {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  img {
    max-width: 300px;
  }


  // .Province,
  // .City {}

  .icons {
    width: 100%;

    .item-next {
      .item-content {
        .name {
          white-space: nowrap;
        }
      }

      &>div {
        display: inline-block;
      }
    }
  }

  .item {
    // border: 1px solid #fff;
    padding: 5px;

    .item {
      border: none;
    }
  }

  .leaf {
    cursor: pointer;
  }
}